<h1>Welcome#hello</h1>
<a href="/welcome/hello" class = "btn btn-success btn-lg">index hello <span class="glyphicon glyphicon-music" aria-hidden="true"></span></a>
<p class="variable" panel><%= @welcome %></p>
<p>Find me in app/views/welcome/hello.html.erb</p>
<p> Evo nas na radionici i pozdravljamo sveee </p> 
